# VS
*.user
*.sln.docstates
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.jim

**/[Pp]ackages/*
**/[Bb]in/*


[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
local.config
[Bb]in/*
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Pp]recompiled[Ww]eb/

# ReSharper
*.[Rr]e[Ss]harper.*
_[Rr]e[Ss]harper*/

#hg
*.orig

*.vsp
*.psess

#weborb
weborbassets/

#nunit
TestResult.xml
*.VisualState.xml
source/SearchIgnite.Services/SearchIgnite.Services.Remoting/crossdomain.xml
source/SI/Web.config.old
*.nupkg
*.ncrunchproject
*.ncrunchsolution
*[Nn]Crunch*


.vs/
!AcmeScore.exe