<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeightWeb" value="1"/>
    <add key="WeightEmail" value="1.2"/>
    <add key="WeightSocial" value="1.5"/>
    <add key="WeightWebinar" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>